<meta property="og:title" content="{{ documentTitle }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:url" content="{{ page.url }}" />
{# <meta property="og:image" content="http://www.yoursite.com/yourimage.jpg" /> #}
<meta property="og:site_name" content="{{ websiteTitle }}" />
<meta property="og:locale" content="en_GB" />
<meta property="og:type" content="website" />

{# <meta name="twitter:card" content="summary_large_image"/> #}
<meta name="twitter:title" content="{{ documentTitle }}"/>
<meta name="twitter:description" content="{{ description }}"/>
{# <meta name="twitter:site" content="@yourusername"/> #}
{# <meta name="twitter:image" content="http://www.yoursite.com/yourimage.jpg"/> #}
{# <meta name="twitter:creator" content="@yourusername"/> #}
