{% extends "layout.njk" %}

{% block beforeContent %}
    {%- if permalink !== "/" -%}
        <a class="back-link" href='/'>Back</a>
    {%- endif -%}
{% endblock %}

{% block content %}
    <h1>{{ page.fileSlug | slugToTitle }}</h1>
    {{- super() -}}
{% endblock %}
