:root {
  /* Colour palette */
  --black: #0b0c0c;
  --white: #fefefe;
  --blue: #1d70b8;
  --light-grey: #cbcbcb;
  --grey: #b1b4b6;
  --dark-grey: #505a5f;
  --red: #d4351c;

  /* Applied colours */
  --light-color: var(--white);
  --dark-color: var(--black);
  --text-color: var(--dark-color);
  --border-color: var(--grey);
  --background-color: var(--light-color);
  --link-color: var(--blue);
  --header-text-color: var(--blue);

  --font-family: -apple-system, linkMacSystemFont, "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  --code-padding: 0.5rem;
  --underline-offset: 0.125em;
  --underline-thickness: 0.1rem;
  --underline-thickness-big: 0.2rem;
  --line-thickness: 0.0625rem;
  --line-thickness-big: 0.125rem;
  --measure: 56ch;
  --border-radius: 0.5rem;
  --outline-width: 0.125rem;
  --outline-offset: 0.25rem;
  --outline-color: currentColor;
  --container-padding: 5vw;
  --vertical-spacing: 1.6rem;
  --back-link-margin-top: 2rem;
  --main-padding-top: 2rem;
  --main-padding-bottom: 3rem;
}

@media (min-width: 40rem) {
  :root {
    --back-link-margin-top: 2.4rem;
    --main-padding-top: 2.2rem;
  }
}

::-moz-selection {
  background: var(--link-color);
  color: var(--background-color);
}
::selection {
  background: var(--link-color);
  color: var(--background-color);
}

html {
  scroll-padding: 1.4rem;
}

body {
  font-size: clamp(1rem, 0.763rem + 1.1852vw, 1.4rem);
  line-height: 1.5;
  font-family: var(--font-family);
  background: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.skip-link {
  display: block;
  padding: 1rem 2rem;
  background: var(--background-color);
  color: var(--link-color);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

a {
  color: var(--link-color);
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  text-underline-offset: var(--underline-offset);
  text-decoration-thickness: var(--underline-thickness);
}

a:focus,
a:hover {
  text-decoration-thickness: var(--underline-thickness-big);
}

a:not(header a):not(main a):not(footer a):not(:focus):not(:active):not(:hover) {
  color: currentColor;
}

[aria-current="true"] {
  color: currentColor;
}
[aria-current="true"]:not(:focus):not(:active):not(:hover) {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.125em;
  margin-bottom: 0.6em;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.2;
}

.h1,
h1 {
  max-width: 20ch;
  font-size: clamp(2.4rem, 1.4519rem + 4.7407vw, 4rem);
  margin-top: 0.5em;
  margin-bottom: 0.8em;
}

.h2,
h2 {
  font-size: clamp(2rem, 1.763rem + 1.1852vw, 2.4rem);
}

.h3,
h3 {
  font-size: clamp(1.8rem, 1.6815rem + 0.5926vw, 2rem);
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
  font-size: clamp(1.4rem, 1.2815rem + 0.5926vw, 1.6rem);
}

li > :where(h2, h3, h4, h5, h6) {
  margin: 0;
  margin-bottom: 1rem;
}

blockquote {
  border-left: 0.4rem solid var(--border-color);
  margin-left: 0;
  padding-left: 1rem;
}

p,
ul,
ol,
pre {
  margin-top: 0;
  margin-bottom: var(--vertical-spacing);
}

code,
pre {
  font-size: 1em;
  font-family: monospace, monospace;
  background-color: var(--code-background-color);
}
pre {
  overflow-y: auto;
  margin-top: 0;
  padding: 1em;
  border: var(--line-thickness-big) solid var(--border-color);
  border-radius: calc(1.5 * var(--border-radius));
}
:not(pre) > code {
  padding: 0 0.3em 0.125em;
  line-height: 1;
  margin: 0 0.2em;
  border: var(--line-thickness) solid var(--border-color);
  border-radius: var(--border-radius);
  white-space: nowrap;
}
p + pre {
  margin-top: -0.5rem;
}

table {
  margin: 0;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 0.8rem 1rem;
  border: 2px solid var(--border-color);
}

th {
  background: var(--light-grey);
}

table,
.table-responsive {
  margin-bottom: var(--vertical-spacing);
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive > table {
  max-width: var(--measure);
  margin-bottom: 0;
}

main {
  max-width: var(--measure);
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}

@media (min-width: 60rem) {
  main.has-aside {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "title title"
      "content aside";
    column-gap: 3rem;
    max-width: calc(1.6 * var(--measure));
  }
  .title {
    grid-column: title;
  }
  .content {
    grid-column: content;
  }
  aside > :first-child,
  .content > :first-child {
    margin-top: 0;
  }
  aside {
    grid-column: aside;
  }
}
main > :first-child {
  margin-top: 0;
}

main img {
  display: block;
  margin: 0;
  max-width: 100%;
  border: var(--line-thickness-big) solid var(--border-color);
  border-radius: var(--border-radius);
}
main ol,
main ul {
  padding: 0;
  padding-left: 1rem;
}
main li:not(:last-of-type) {
  margin-bottom: 0.4rem;
}
main li > ol,
main li > ul {
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  padding-left: 1.5rem;
}

main hr {
  margin: 0;
  margin-bottom: calc(1.5 * var(--vertical-spacing));
  margin-top: calc(1.5 * var(--vertical-spacing));
  border: 0;
  border-top: var(--line-thickness) solid var(--border-color);
}

aside ul {
  margin: 0;
  padding: 0;
}
aside > ul > li {
  list-style: none;
}
aside > ul > li > a {
  font-weight: bold;
}
aside li ul {
  padding-left: 1.25em;
}
aside li ul > li::marker {
  content: "\2014\2002";
}

.header {
  padding-top: 2.2rem;
  color: var(--header-text-color);
  background-color: var(--header-background-color);
}
.header-hr {
  margin: 0;
  margin-top: 0.8rem;
  border: 0;
  border-top: var(--underline-thickness-big) solid var(--border-color);
}

.header-link {
  display: inline-block;
  color: currentColor;
  font-size: 1.3rem;
  line-height: 1.2;
  --underline-offset: 0.3em;
}
.header-link:not(:hover):not(:focus) {
  text-decoration: none;
}

.header-link:focus::after,
.header-link:hover::after {
  border-color: currentColor;
}

.header-title {
  font-size: 1.84em;
  font-weight: bold;
}

.back-link {
  position: relative;
  margin-top: var(--back-link-margin-top);
  display: inline-block;
}
.back-link:focus {
  outline: none;
}
.back-link:focus::after {
  outline: var(--outline-width) solid var(--outline-color);
}
/* Increase touch area size */
.back-link::after {
  content: "";
  position: absolute;
  top: -0.3em;
  bottom: -0.35em;
  left: -0.8em;
  right: -0.4em;
  background: transparent;
}
.back-link::before {
  --chevron-thickness: var(--line-thickness);
  content: "";
  position: relative;
  display: inline-block;
  top: -0.06em;
  height: 0.36em;
  width: 0.36em;
  margin-left: -0.4em;
  margin-right: 0.125em;
  transform: rotate(-135deg);
  border-style: solid;
  border-width: var(--chevron-thickness) var(--chevron-thickness) 0 0;
  border-color: var(--link-color);
}

.back-to-top {
  position: relative;
  display: inline-block;
  margin-bottom: var(--main-padding-bottom);
}
.back-to-top:focus {
  outline: none;
}
.back-to-top:focus::before {
  outline: var(--outline-width) solid var(--outline-color);
}
/* Increase touch area size */
.back-to-top::before {
  content: "";
  position: absolute;
  top: -0.3em;
  bottom: -0.35em;
  left: -0.8em;
  right: -0.4em;
  background: transparent;
}
.back-to-top::after {
  --chevron-thickness: var(--line-thickness);
  content: "";
  position: relative;
  display: inline-block;
  height: 0.36em;
  width: 0.36em;
  margin-left: 0.4em;
  transform: rotate(315deg);
  border-style: solid;
  border-width: var(--chevron-thickness) var(--chevron-thickness) 0 0;
  border-color: var(--link-color);
}

.footer {
  color: var(--footer-text-color);
  background: var(--footer-background-color);
  padding-bottom: 2rem;
  box-shadow: 0 100rem 0 100rem var(--footer-background-color);
}
.footer a {
  color: currentColor;
}
.footer :focus {
  --outline-color: currentColor;
}
.footer-hr {
  margin: 0;
  margin-bottom: 2rem;
  border: 0;
  border-top: var(--underline-thickness-big) solid var(--border-color);
}

.footer-inline-links:not(:last-child) {
  margin-bottom: var(--vertical-spacing);
}
.footer-inline-links ul {
  list-style: none;
  padding: 0;
}
.footer-inline-links li {
  margin-bottom: 1rem;
}
@media (min-width: 60rem) {
  .footer-inline-links ul {
    --footer-inline-links-gap: 0.8rem;
    display: inline-flex;
    margin: 0;
    gap: var(--footer-inline-links-gap);
  }
  .footer-inline-links li {
    margin: 0;
  }
  .footer-inline-links li:not(:last-child)::after {
    content: "\2013";
    margin-left: var(--footer-inline-links-gap);
  }
}

:focus {
  outline: var(--outline-width) solid var(--outline-color);
  outline-offset: var(--outline-offset);
}

.margin-top-0 {
  margin-top: 0;
}

[hidden] {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  white-space: nowrap;
}
.visually-hidden-focusable {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  white-space: nowrap;
}
.visually-hidden-focusable:active,
.visually-hidden-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: inherit;
  overflow: visible;
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  white-space: inherit;
}
